@import url("https://fonts.googleapis.com/css?family=Almarai:700|Inter:700");

.desktop-1 {
    align-items: flex-end;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    display: flex;
    flex-direction: column;
    min-height: 1021px;
    padding: 11px 20px;
    width: 1440px;
}

.overlap-group-1 {
    /*align-items: flex-start;*/
    align-self: center;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    margin-left: 425px;
    margin-top: 100px;
    min-height: 596px;
    padding: 36px 51px;
    width: 897px;
}

.overlap-group-2 {
    /*align-items: flex-start;*/
    align-self: center;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    margin-left: 525px;
    margin-top: 100px;
    min-height: 696px;
    padding: 36px 51px;
    width: 680px;
}

.overlap-group-3 {
    /*align-items: flex-start;*/
    align-self: right;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    margin-left: 1425px;
    margin-top: 50px;
    min-height: 96px;
    padding: 36px 51px;
    width: 280px;
}

.overlap-group-4 {
    align-self: center;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    margin-left: 610px;
    margin-top: 20px;
    min-height: 250px;
    padding: 36px 51px;
    width: 1097px;
}

.title-1 {
    align-self: center;
    color: black;
    font-family: var(--font-family-almarai);
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    margin-top: 45px;
    min-height: 66px;
    width: 250px;
}

.title-2 {
    align-self: center;
    color: black;
    font-family: var(--font-family-almarai);
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    margin-top: 35px;
    min-height: 66px;
    width: 200px;
}

.overlap-group6 {
    height: 103px;
    margin-top: 44px;
    position: relative;
    width: 747px;
}

.rectangle-21 {
    background-color: var(--white);
    height: 48px;
    left: 0;
    position: absolute;
    top: 55px;
    width: 747px;
}

.overlap-group-container-1 {
    align-items: flex-start;
    align-self: center;
    display: flex;
    gap: 67px;
    margin-right: 38px;
    margin-top: 58px;
    min-width: 483px;
}

.overlap-group4 {
    align-items: flex-end;
    background-color: var(--claret);
    border-radius: 10px;
    display: flex;
    height: 79px;
    justify-content: flex-end;
    min-width: 208px;
    padding: 1px 14px;
}

.sign-in {
    letter-spacing: 0;
    line-height: normal;
    min-height: 58px;
    width: 150px;
}

/* .AdvisingPin {
    letter-spacing: 0;
    line-height: normal;
    min-height: 58px;
    width: 150px;
    text-align: center;
} */

.overlap-group3 {
    align-items: flex-end;
    background-color: var(--claret);
    border-radius: 10px;
    display: flex;
    height: 80px;
    min-width: 208px;
    padding: 7px 39px;
}

.sign-up {
    letter-spacing: 0;
    line-height: normal;
    min-height: 48px;
    width: 129px;
}

.overlap-group5 {
    height: 98px;
    margin-top: 52px;
    position: relative;
    width: 747px;
}

.rectangle-20 {
    background-color: var(--white);
    height: 48px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 747px;
}

.overlap-group-container {
    align-items: flex-end;
    display: flex;
    gap: 74px;
    margin-right: 119px;
    min-width: 922px;
}

.overlap-group2 {
    height: 70px;
    position: relative;
    width: 258px;
}

.rectangle-10 {
    background-color: var(--white);
    border-radius: 10px;
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 255px;
}

.rectangle-8 {
    background-color: var(--white);
    height: 70px;
    left: 3px;
    position: absolute;
    top: 0;
    width: 255px;
}

.overlap-group1 {
    height: 187px;
    position: relative;
    width: 590px;
}

.rectangle-7 {
    background-color: var(--white);
    border-radius: 10px;
    height: 70px;
    left: 335px;
    position: absolute;
    top: 117px;
    width: 255px;
}

.rectangle-6 {
    background-color: var(--white);
    border-radius: 10px;
    height: 70px;
    left: 0;
    position: absolute;
    top: 117px;
    width: 255px;
}

.advise-logo-1 {
    height: 85px;
    width: auto;
    position: relative;
    right: -650px;
    top: 20px;
}

.advise-logo-2 {
    height: 50px;
    width: auto;
    position: relative;
    left: 750px;
}

.aamu-logo-1 {
    height: 90px;
    object-fit: cover;
    width: auto;
    position: relative;
    left: 0%;
}

.aamu-logo-2 {
    height: 65px;
    object-fit: cover;
    width: auto;
    position: relative;
    left: 0%;
}

input {
    width: 500px;
    border: 1px solid #000;
    margin-top: 5px;
    height: 35px;
    float: none;
    font-size: 20px;
    display: inline-block;
    right: 10px;
    border-radius: 5px;
}

label {
    display: inline-block;
    text-align: left;
    line-height: normal;
    top: 0;
    width: 500px;
    font-family: var(--font-family-almarai);
    font-size: var(--font-size-xl);
    color: var(--claret);
}

.input-1, .input-2 {
    width: 900px;
    border: 1px solid #000;
    margin-top: 5px;
    height: 35px;
    float: none;
    font-size: 20px;
    display: inline-block;
    right: 10px;
    border-radius: 5px;
}

.input-3, .input-4 {
    width: 675px;
    border: 1px solid #000;
    margin-top: 5px;
    height: 35px;
    float: none;
    font-size: 20px;
    display: inline-block;
    right: 10px;
    border-radius: 5px;
}

.input-5 {
    width: 100px;
    border: 1px solid #000;
    margin-top: 5px;
    height: 35px;
    float: none;
    font-size: 20px;
    display: inline-block;
    right: 10px;
    border-radius: 5px;
}

.block {
    margin-top: 40px;
}

.form {
    display: inline-block;
    text-align: left;
    line-height: normal;
    top: 0;
    width: 500px;
    font-family: var(--font-family-almarai);
    font-size: var(--font-size-xl);
    color: var(--claret);
}

.block-1, .block-2 {
    margin-top: 30px;
}

.block-3, .block-4 {
    margin-top: 15px;
}

.button {
    background-color: var(--claret);
    font-family: var(--font-family-almarai);
    color: white;
    font-weight: 600;
    width: 150px;
    margin:0 20px;
    margin-top: 10px;
    display:inline-block;
    line-height: 60px;
    height: 60px;
}

.row, .userinput-box {
    text-align:center;
    /*the same margin which is every button have, it is for small screen, and if you have many buttons.*/
    margin-left:-20px;
    margin-right:-20px;
}

hr {
    height:3px;
    border-width:0;
    background-color:var(--claret);
}

p {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    text-align: center;
}

a {
    color: var(--claret)
}

.subtitle {
    margin-top: -15px;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    color: var(--claret);
}

.logout {
    text-align: right;
    margin-top: -40px;
}

a:link {
    text-decoration: none;
}
a:hover {
    color: var(--black)
}

