@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Archivo:wght@400;500;600;700&family=Inter:wght@400;500;700&display=swap');

/***************************************************************************************************************************/

/* Calculator Box */
.calculator-box {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--font-family-almarai);
    width: 900px;
    max-height: 875px;
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 28px;
    margin: 100px auto;
    margin-top: -280px;
    margin-left: 525px;
}

.pure-u-1 {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
    margin-top: 15px;
}

.pure-u-2 {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 3%;
    margin-top: -25px;
}

input[type="text"].coursename {
    width: 250px;
}

input[type="text"].small, input[type="password"].small, input[type="email"].small, textarea.small, select.small {
	width: 100px;
}

.red {
	border: 1px solid red;
	padding: 1px;
}

.green {
	border: 1px solid green;
	padding: 1px;
}

.message {
	border: 1px solid #ccc; background-color: #eee; border-radius: 5px;
}

hr {
    border: solid var(--claret);
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 30px;
	height: 0;
}

hr.medium {
	border-width: 5px 0 0;
}

#overall-gpa {
	font-weight: bold;
}

#gpa-table {
	width: 100%
}

#gpa-table td {
	padding: 1px;
}

/***************************************************************************************************************************/

.desktop-1 {
    align-items: flex-end;
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    display: flex;
    flex-direction: column;
    min-height: 1021px;
    padding: 11px 20px;
    width: 1440px;
}

.overlap-group-1 {
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    margin-left: 425px;
    margin-top: 100px;
    min-height: 596px;
    padding: 36px 51px;
    width: 897px;
}

.overlap-group-2 {
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    margin-left: 525px;
    margin-top: 80px;
    max-height: 800px;
    padding: 36px 51px;
    width: 680px;
}

.overlap-group-3 {
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    margin-left: 1455px;
    margin-top: 50px;
    min-height: 96px;
    padding: 36px 51px;
    width: 280px;
}

.overlap-group-4 {
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    margin-left: 525px;
    margin-top: 60px;
    max-height: 300px;
    padding: 36px 51px;
    width: 1200px;
}

.overlap-group-5 {
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: -1365px;
    max-height: 400px;
    padding: 36px 51px;
    width: 380px;
}

.overlap-group-6 {
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    margin-left: 5px;
    margin-top: 175px;
    max-height: 400px;
    padding: 36px 51px;
    width: 380px;
}

.overlap-group-7 {
    background-color: #d9d9d9;
    border: 1px solid;
    border-color: var(--black);
    border-radius: 28px;
    display: flex;
    flex-direction: column;
    margin-left: 1455px;
    margin-top: -425px;
    min-height: 496px;
    padding: 36px 51px;
    width: 280px;
}

.textbox-1 {
    align-self: left;
    background-color: #FFFFFF;
    border-radius: 18px;
    display: inline;
    flex-direction: row;
    margin-left: -5px;
    min-height: -30px;
    padding: 26px 41px;
    width: 250px;
}

.textbox-2 {
    align-self: center;
    background-color: #FFFFFF;
    border-radius: 18px;
    display: inline;
    flex-direction: row;
    margin-left: -5px;
    min-height: -30px;
    margin-top: -80px;
    padding: 26px 41px;
    width: 250px;
}

.textbox-3 {
    align-self: right;
    background-color: #FFFFFF;
    border-radius: 18px;
    display: inline;
    flex-direction: row;
    margin-left: 855px;
    min-height: -30px;
    margin-top: -80px;
    padding: 26px 41px;
    width: 250px;
}

.textbox-4 {
    align-self: left;
    background-color: #d9d9d9;
    border-radius: 18px;
    display: inline;
    flex-direction: row;
    /* margin-left: 855px; */
    min-height: 120px;
    margin-top: 50px;
    margin-bottom: -10px;
    padding: 26px 41px;
    width: 1100px;
}

.textbox-5 {
    align-self: right;
    background-color: #d9d9d9;
    border-radius: 10px;
    display: inline;
    flex-direction: row;
    margin-left: 255px;
    margin-top: -30px;
    min-height: -30px;
    padding: 26px 41px;
    width: 75px;
}

.total-hrs {
    align-self: left;
    /* display: inline; */
    /* flex-direction: row; */
    margin-left: 0px;
    margin-top: 25px;
    /* min-height: -30px; */
    /* padding: 26px 41px; */
    /* width: 75px; */
}

.box-title-1 {
    font-size: var(--font-size-s);
    font-weight: 600;
    margin-top: -10px;
    margin-left: -240px;
}

.box-title-2 {
    font-size: var(--font-size-m);
    margin-top: -5px;
    margin-left: -200px;
    margin-bottom: -15px;
}

.box-title-3 {
    font-size: var(--font-size-s);
    font-weight: 600;
    margin-top: -10px;
    margin-left: -270px;
}

.box-title-4 {
    font-size: var(--font-size-m);
    margin-top: -5px;
    margin-left: -160px;
    margin-bottom: -15px;
}

.box-title-5 {
    font-size: var(--font-size-s);
    font-weight: 600;
    margin-top: -10px;
    margin-left: -260px;
}

.box-title-6 {
    font-size: var(--font-size-m);
    margin-top: -5px;
    margin-left: -110px;
    margin-bottom: -15px;
}

.box-title-7 {
    text-align: left;
    font-size: var(--font-size-m);
    font-weight: 600;
    margin-top: -10px;
    margin-left: -35px;
}

.box-title-8 {
    text-align: left;
    font-size: var(--font-size-m);
    margin-top: -45px;
    margin-left: 35px;
}

.box-title-9 {
    text-align: left;
    font-size: var(--font-size-m);
    font-weight: 600;
    margin-top: -45px;
    margin-left: 300px;
}

.box-title-10 {
    text-align: left;
    font-size: var(--font-size-m);
    margin-top: -45px;
    margin-left: 460px;
}

.box-title-11 {
    text-align: left;
    font-size: var(--font-size-m);
    font-weight: 600;
    margin-top: -45px;
    margin-left: 700px;
}

.box-title-12 {
    text-align: left;
    font-size: var(--font-size-m);
    margin-top: -45px;
    margin-left: 780px;
}

.box-title-13 {
    text-align: left;
    font-size: var(--font-size-m);
    font-weight: 600;
    margin-top: 40px;
    margin-left: -35px;
}

.box-title-14 {
    text-align: left;
    font-size: var(--font-size-m);
    margin-top: -43px;
    margin-left: 65px;
}

.box-title-15 {
    text-align: left;
    font-size: var(--font-size-m);
    font-weight: 600;
    margin-top: -45px;
    margin-left: 400px;
}

.box-title-16 {
    text-align: left;
    font-size: var(--font-size-m);
    margin-top: -45px;
    margin-left: 630px;
}

.box-title-17 {
    text-align: left;
    font-size: var(--font-size-m);
    font-weight: 600;
    margin-top: -45px;
    margin-left: 860px;
}

.box-title-18 {
    text-align: left;
    font-size: var(--font-size-m);
    margin-top: -45px;
    margin-left: 920px;
}

.box-title-19 {
    text-align: left;
    font-size: var(--font-size-m);
    font-weight: 600;
    margin-top: 40px;
    margin-left: -35px;
}

.box-title-20 {
    text-align: left;
    font-size: var(--font-size-m);
    margin-top: -45px;
    margin-left: 210px;
}

.title-1 {
    align-self: center;
    color: black;
    font-family: var(--font-family-almarai);
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    margin-top: 45px;
    min-height: 66px;
    width: 250px;
}

.title-2 {
    align-self: center;
    color: black;
    font-family: var(--font-family-almarai);
    font-size: 50px;
    font-weight: 700;
    line-height: normal;
    margin-top: 35px;
    min-height: 66px;
    width: 200px;
}

.title-3 {
    text-align: center;
    color: var(--black);
    font-family: var(--font-family-almarai);
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    margin-top: -80px;
}

.title-4 {
    text-align: left;
    color: var(--black);
    font-family: var(--font-family-almarai);
    font-size: 25px;
    font-weight: 700;
    line-height: normal;
    margin-left: -30px;
    margin-bottom: -10px;
}

.title-5 {
    text-align: center;
    color: var(--claret);
    font-family: var(--font-family-almarai);
    font-size: 30px;
    font-weight: 700;
    line-height: normal;
    margin-top: -80px;
}

.class-1-1 {
    text-align: left;
    margin-left: -30px;
    /* font-size: 30px; */
    font-weight: 500;
}

.class-1-2 {
    text-align: center;
    /* font-size: 30px; */
    font-weight: 600;
    margin-top: -52px;
    margin-left: 35px;
}

.class-1-3 {
    text-align: right;
    /* font-size: 30px; */
    font-weight: 500;
    margin-top: -50px;
    margin-right: -30px;
}

.credit-hours {
    text-align: center;
    /* font-size: 30px; */
    font-weight: 800;
    margin-top: -10px;
    margin-left: -5px;
    margin-bottom: -15px;
}

.sign-in {
    letter-spacing: 0;
    line-height: normal;
    min-height: 58px;
    width: 150px;
}

.sign-up {
    letter-spacing: 0;
    line-height: normal;
    min-height: 48px;
    width: 129px;
}

.rectangle-10 {
    background-color: var(--white);
    border-radius: 10px;
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 255px;
}

.rectangle-8 {
    background-color: var(--white);
    height: 70px;
    left: 3px;
    position: absolute;
    top: 0;
    width: 255px;
}

.rectangle-7 {
    background-color: var(--white);
    border-radius: 10px;
    height: 70px;
    left: 335px;
    position: absolute;
    top: 117px;
    width: 255px;
}

.rectangle-6 {
    background-color: var(--white);
    border-radius: 10px;
    height: 70px;
    left: 0;
    position: absolute;
    top: 117px;
    width: 255px;
}

/***************************************************************************************************************************/

/* Logos */
.advise-logo-1 {
    height: 85px;
    width: auto;
    position: relative;
    right: -650px;
    top: 20px;
}

.advise-logo-2 {
    height: 50px;
    width: auto;
    position: relative;
    left: 750px;
}

.aamu-logo-1 {
    height: 90px;
    object-fit: cover;
    width: auto;
    position: relative;
    left: 0%;
}

.aamu-logo-2 {
    height: 65px;
    object-fit: cover;
    width: auto;
    position: relative;
    left: 0%;
}

/***************************************************************************************************************************/

input {
    width: 500px;
    border: 1px solid #000;
    margin-top: 5px;
    height: 35px;
    float: none;
    font-size: 20px;
    display: inline-block;
    right: 10px;
    border-radius: 5px;
}

label {
    display: inline-block;
    text-align: left;
    line-height: normal;
    top: 0;
    width: 500px;
    font-family: var(--font-family-almarai);
    font-weight: 700;
    font-size: var(--font-size-xl);
    color: var(--claret);
}

.input-1, .input-2 {
    width: 900px;
    border: 1px solid #000;
    margin-top: 5px;
    height: 35px;
    float: none;
    font-size: 20px;
    display: inline;
    right: 10px;
    border-radius: 5px;
}

.input-3, .input-4 {
    width: 675px;
    border: 1px solid #000;
    margin-top: 5px;
    height: 35px;
    float: none;
    font-size: 20px;
    display: inline-block;
    right: 10px;
    border-radius: 5px;
}

.input-5 {
    text-align: left;
    width: 100px;
    border: 1px solid #000;
    margin-top: 5px;
    height: 35px;
    float: none;
    font-size: 20px;
    display: inline;
    right: 5px;
    border-radius: 5px;
}

.block {
    margin-top: 40px;
}

.form {
    display: inline-block;
    text-align: left;
    line-height: normal;
    top: 0;
    width: 500px;
    font-family: var(--font-family-almarai);
    font-size: var(--font-size-xl);
    color: var(--claret);
}

.block-1, .block-2 {
    margin-top: 30px;
}

.block-3, .block-4 {
    margin-top: 15px;
}

.button {
    background-color: var(--claret);
    font-family: var(--font-family-almarai);
    color: white;
    font-weight: 600;
    width: 150px;
    margin:0 20px;
    margin-top: 10px;
    display:inline-block;
    line-height: 60px;
    height: 60px;
}

.row {
    text-align: center;
    /*the same margin which is every button have, it is for small screen, and if you have many buttons.*/
    margin-left:-20px;
    margin-right:-20px;
}

.userinput-box {
    text-align:center;
    /*the same margin which is every button have, it is for small screen, and if you have many buttons.*/
    margin-left:-20px;
    margin-right:-20px;
}

hr {
    height:3px;
    border-width:0;
    background-color:var(--claret);
}

p {
    font-family: var(--font-family-inter);
    font-size: var(--font-size-l);
    text-align: center;
}

a {
    color: var(--claret)
}

.subtitle {
    margin-top: -15px;
    font-family: var(--font-family-inter);
    font-size: var(--font-size-m);
    color: var(--claret);
}

.logout {
    text-align: right;
    margin-top: -40px;
    font-weight: 700;
    color: var(--claret)
}

.logout:hover {
    color: var(--black)
}

a:link {
    text-decoration: none;
}
a:hover {
    color: var(--black)
}

/***************************************************************************************************************************/

/* logout confirmation */

.swal-title {
    font-size: var(--font-size-l) !important;
    font-family: var(--font-family-almarai);
}

.swal-button {
    text-align: center;
    background-color: var(--claret);
    font-family: var(--font-family-almarai);
    font-size: var(--font-size-xl);
    color: white;
    font-weight: 600;
    width: 100px;
    margin:0 20px;
    display:inline-block;
    height: 60px;
}

.swal-button:hover {
    background-color: #d9d9d9 !important;
    color: var(--claret) !important;
}

/***************************************************************************************************************************/